<h1 class="title animate__animated animate__jackInTheBox">{{ title }}</h1>

<ul class="animate__animated animate__flipInX" *ngIf="mode == 'list'">
  <p class="text-center" *ngIf="todos.length == 0"><small>Não tem nenhuma tarefa hoje!</small></p>
  
  <li *ngFor="let todo of todos">
    
    <ng-container *ngIf="todo.id !== editingTodoId; else editTodo">
        {{ todo.task }}
        
        <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
        <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
        <button (click)="startEdit(todo.id)"><i class="fas fa-edit"></i></button>
    </ng-container>
    
    <ng-template #editTodo>
        <input type="text" [(ngModel)]="editedTask" (keydown.enter)="finishEdit(todo.id)" (blur)="cancelEdit()">
    </ng-template>
</li>
</ul>

<div id="modal" *ngIf="mode == 'add'" class="animate__animated animate__flipInX">
  
  <h1 class="text-center">Nova Tarefa</h1>
  
  <form [formGroup]="form">
      <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="title"/>
      <small class="danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">
        Campo obrigatório
      </small>
      <p class="text-center">
        <button class="button" [disabled]="form.invalid" (click)="add()">
          <i class="far fa-save"></i>
          Salvar
        </button>
      </p>
      <br>
  </form>
  
  <br>

</div>

<button
  class="button add-button animate__animated animate__fadeInUp" 
  (click)="changeMode('add')" *ngIf="mode == 'list'">
  <i class="fas fa-plus-circle"></i>
  Nova Tarefa
</button>
<button
  class="button add-button animate__animated animate__fadeInUp"
  (click)="changeMode('list')" *ngIf="mode == 'add'">
  <i class="fas fa-times"></i>
  Cancelar
</button>
